@import "extra/mixin";

/*HTML libreria*/

.contenedor{
    height: 70vh;
    background-color: $color-fondo;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33%);
    row-gap: 1rem;
    margin: 1rem;
    padding: 2rem;
    .libro1{
        @include productos(200px, 200px);
    }
    .libro2{
        @include productos(200px, 200px);
    }
    .libro3{
        @include productos(200px, 200px);
    }
    .libro4{
        @include productos(200px, 200px);
    }
    .libro5{
        @include productos(200px, 200px);
    }
    .libro2, .libro4{
        display: none;
    }
    div{
        border: black 5px solid;
        img{
            width: 100%;
            object-fit: fill;
            object-position: center;
        }
    }
    .description-item{
        border: black 3px solid;
        background-color: $color-fondo;
        text-align: center;
        font-size: 170%;
    }
}

@import"../extra/mediaq";